header{
    height: 100px;
    background-color: darkblue;
    color: white;
    h2 {
        line-height: 100px;
        margin-bottom: 0;
    }
    h6 {
        line-height: 100px;
        margin-bottom: 0;
        cursor: pointer;
        text-decoration: underline;
    }
}