.add-new-product {
    form {
        // width: 600px;
        background: rgba(54, 98, 218, 0.486);
        padding: 30px;
        margin: 0 auto;
        label {
            display: inline-block;
        }
        input {
            &:focus {
                box-shadow: none;
                border: 1px solid rgb(54, 97, 218);
            }
        }
    }
}
.select-product {
    height: 38px;
    width: 100%;
    .select-product-input {
        background: #fff;
        border: none;
        height: 38px;
        width: 100%;
        border-radius: 5px;
    }
    .dropdown-toggle {
        &:after {
            float: right;
        }
        &:focus {
            box-shadow: none;
            border: 1px solid rgb(54, 97, 218);;
        }
    }
}